
# auth files
auth.txt
auth.json

# ignore all writing files for now given 
writing/*

# big files with svgs rendered
preprocess_drawings/1_get_sketches/full_dataset_info/*
analysis/_old/*
experiments/museumstation/_old/*
/experiments/recoggames/animalgame/code/node_modules/*

# ds_store
*.DS_Store
.DS_Store
.DS_Store

.RData
.Rhistory


*.npy
*.json
*.ipynb_checkpoints/
*.pyc

gmail_creds.json
history.csv
.Rproj.user

.idea
*.png
*.tex
._*
data/drawings/stringent_cleaned_dataset.zip
data/preprocessed_data/data_long.csv
data/surveys/visual_experience/raw/Visual Experience Development Survey_October 2, 2020_15.16.csv
data/surveys/drawing_experience/raw/Drawing Experience Survey_August 28, 2020_13.58.csv
data/surveys/drawing_experience/raw/Drawing Experience Survey_August 27, 2020_17.21.csv
analysis/interference_count_across_age_and_runs.csv
analysis/mald_database_check.Rmd
